.task {
  display: flex;
  flex-direction: row;
  color: black;
}

.faIcon-check {
  font-size: 40px;
  color: green;
}

.faIcon-del {
  font-size: 40px;
  color: red;
}

.marked {
  color: green;
  font-weight: 700;
}
